<div class="t" cdkDropListGroup>
  <!--   
   <button (click)="newTask()" mat-button>
    <mat-icon>add</mat-icon> Add Task
  </button> -->

  <div *ngFor="let itemArray of itemCardArrayContainer" class="itemCard ">
    <div class="flexAround">
      <h2>{{ itemArray.arrayID}}</h2>
      <!-- <button (click)="a(itemArray.arrayID)">c</button> -->
      <button (click)="a(itemArray.arrayID)" mat-button>
        <mat-icon>add</mat-icon> Add Task
      </button>
    </div>
    <div class="flexAround">
      <button mat-button>
        <mat-icon>add</mat-icon> switch
      </button>
      <button mat-button>
        <mat-icon>add</mat-icon> more
      </button>
    </div>

    <div cdkDropList [cdkDropListData]="itemArray.arrayContent" (cdkDropListDropped)="drop($event)"
      #{{itemArray.arrayID}}="cdkDropList" id="{{itemArray.arrayID}}">
      <div *ngFor="let item of itemArray.arrayContent">
        <!-- <button (click)="d(itemArray.arrayID,item.id)">delete</button> -->
        <app-task [task]="item" (editTest)="editTest()" (editDelete)="d(itemArray.arrayID, item.id)"
          (edit)="editTask(itemArray.arrayID, $event)" cdkDrag>
        </app-task>
      </div>
    </div>
  </div>
</div>

<style>
  .t {
    display: flex;
    /* justify-content: space-around; */
  }

  app-new-task {
    margin-bottom: 30px;
  }

  .cdk-drag-animating {
    transition: transform 250ms;
  }

  .cdk-drag-placeholder {
    opacity: 0.5;
  }
</style>