<ul>
  <li *ngFor="let item of item$ | async">
    {{ item.name }}
  </li>
</ul>

<div class="content-wrapper">
  <div class="container-wrapper">

    <div cdkDropListGroup>
      a ArrayContainer
      <div cdkDropList *ngFor="let itemArray of itemCardArrayContainer" [cdkDropListData]="itemArray.arrayContent"
        (cdkDropListDropped)="tDrop($event)">
        b {{itemArray.arrayID}}
        <div class="" *ngFor="let item of itemArray.arrayContent" cdkDrag>
          c item
          {{item.name}}
        </div>
      </div>
    </div>

    <!--  -->
    <!--  -->

    <div cdkDropListGroup>
      <div class="example-container" *ngFor="let itemArray of itemCardArrayContainer">
        <h2>C {{ itemArray.arrayID}}</h2>
        <div cdkDropList [cdkDropListData]="itemArray.arrayContent" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of itemArray.arrayContent" cdkDrag>
            {{item.name}}
          </div>
        </div>
      </div>
    </div>